@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;

}

main {
    position: relative;
    height: 100vh;
    background-color: blanchedalmond;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: trans;
    height: 400px;
    width: 400px;
    background-color: blue;
    -webkit-transform: trans;
    -moz-transform: trans;
    -ms-transform: trans;
    -o-transform: trans;
}